extends layout

block content
  - let results = [{ Mineral_name: 'Quartz', Color: 'white', Hardness_level: 7 },{ Mineral_name: 'Beryl', Color: 'blue (aquamarine)', Hardness_level:  7.5 },{ Mineral_name: 'Gypsum', Color: 'yellow', Hardness_level: 2}]

  .container-fluid
    .row
      each item, index in results
        .col-sm-4
          .instrument(onclick=`buy(${index})`)
            h3 #{item.Mineral_name}
            p Color : #{item.Color}
            p Hardness_level : #{item.Hardness_level}
          .col-sm-2
            p Mineral_name: #{item.Mineral_name}
            p Color : #{item.Color}
            p Hardness_level: #{item.Hardness_level}
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }