extends layout

block content
  - let minerals = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in minerals
        - let destination = `dispatch(\"/minerals/update?id=${item._id}\")`
        div(class="row-sm-2 m-1") Mineral #{item.Mineral_name}(#{item.Color}) is #{item.Hardness_level} 
          button.btn(class="btn-primary ml-1" , onclick= destination) Update

    script.
      function dispatch(path){
        window.location.href=path
      }

    .container-fluid
      .row
        each item, index in minerals
          .col-sm-4
            .instrument(onclick=`buy(${index})`)
              h3 #{item.Mineral_name}
              p Color : #{item.Color}
              p Hardness_level : #{item.Hardness_level}
            .col-sm-2
              p Mineral_name: #{item.Mineral_name}
              p Color : #{item.Color}
              p Hardness_level: #{item.Hardness_level}

  script.
    function buy(index) {
      alert("You purchased item " + index);
    }