extends layout

block content
  - let minerals = results 

  .container-fluid
    .row
      each item, index in minerals
        .col-sm-4
          .instrument(onclick=`buy(${index})`)
            h3 #{item.Mineral_name}
            p Color : #{item.Color}
            p Hardness_level : #{item.Hardness_level}
          .col-sm-2
            p Mineral_name: #{item.Mineral_name}
            p Color : #{item.Color}
            p Hardness_level: #{item.Hardness_level}
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }